.userPageContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.userDataContainer{
    margin:39px 96px 0 57px;
}

.userAvatar {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-bottom: 29px;
}

.userName {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 12px;
}

.userLogo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #0064EB;
    text-decoration: none;
    margin: 0 10px 25px 10px;
}
.userLogo:link{
    text-decoration: none;
}

.userFollows{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.followers{
    height: 22px;
    margin-right:10px;
}

.userLink:visited{
    color: #0064EB;
}

a{
    text-decoration: none;
}

@media (max-width: 900px) {
    .userPageContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .userDataContainer{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .userAvatar {
        height: 270px;
        width: 270px;
    }

    .userLogo {
        margin-bottom: 10px;
    }
}