.headerContainer {
    min-width: 100vw;
    height: 72px;
    background-color: #0064EB;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gitHubLogo {
    height: 40px;
    margin: 0 22px 0 41px;
}

@media (max-width: 600px) {
    .gitHubLogo {
        margin: 0 5px;
    }
}
