.emptyRepos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 221px;
    margin-left: 60px;
}

.repoTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    margin: 28px 0;
    letter-spacing: 0.03rem;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-family: 'Inter', sens-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
    margin-top: 26px;
}

.pageNum {
    padding: 0 8px;
    cursor: pointer;
}

.nextPage {
    font-weight: 600;
    font-size: large;
    line-height: 21px;
    color: #0064EB;
    margin-top: 26px;
    padding: 0 10px 0 0px;
}

.lastPage {
    font-style: normal;
    font-weight: 600;
    font-size: large;
    line-height: 21px;
    color: #808080;
    margin-top: 26px;
    padding: 0 19px;
}

.reposPagination {
    font-family: 'Inter', sens-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.active {
    color: #FFFFFF;
    background-color: #0064EB;
    padding: 3px 7px;
    gap: 10px;
    border-radius: 3px;
}

@media (max-width: 900px) {
    .repoTitle {
        text-align: center;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
        margin: 28px 0;
        letter-spacing: 0.03rem;
    }

    .reposPagination {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reposContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
